:root {
  --blue: #0040bd;
  --grey: #222324;
}
.home-wrapper {
    background-color: var(--grey);
    min-height: 100vh;
    /* flex: 1; */
    color: white;
    padding-top: 180px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 180px;
    /* position: relative; */
}
